.sidepanel-mode #sidebar { display: none !important; }
.sidepanel-mode .logo { display: none !important; }
.sidepanel-mode #top-bar {
    height: auto !important;
    flex-direction: column !important;
    padding: 5px !important;
}
.sidepanel-mode .actions {
    flex-wrap: wrap !important;
    justify-content: center !important;
    margin-top: 5px !important;
    gap: 4px !important;
}
.sidepanel-mode .actions button {
    padding: 2px 6px !important;
    font-size: 10px !important;
}
.sidepanel-mode #bottom-panel {  }
